:root {
    --text-color-grey:  rgb(138, 138, 138);
}

body {
    margin: 0;
    padding: 0;
}

.color-black {
    color: black !important;
}

.text-format {
    color: var(--text-color-grey);
    font-size: 1.2rem;
}

.ubuntu-font {
    font-family: 'Ubuntu', sans-serif !important;
}

.site-section {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: fit-content;
    justify-content: center;
    margin: auto;
}

h1.section-title {
    font-size: 2rem;
    color: rgb(61, 61, 61);
}
h1.section-subtitle {
    font-size: 1.4rem;
    color: rgb(61, 61, 61);
}

a.btn-std {
    background-color: #F7C59F;
    padding: 0.5rem;
    height: auto;
    width: 15rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
a.btn-std:hover {
    background-color: #fcbd8d;
}
a.btn-std:focus {
    background-color: #F7C59F;
}

/* Navbar */

nav.navbar {
    background-color: inherit;
    box-shadow: none;
}
nav.navbar i, nav.navbar a {
    color: var(--text-color-grey);
    font-size: 1.1rem;
}
a.navbar-icon {
    position: relative !important;
    margin: 10px 3rem 0 2rem;
}
img.navbar-icon {
    height: 2.4rem;
}
a.navbar-icon-text {
    font-size: 1.3rem !important;
    margin-right: 1rem;
}
hr.navbar {
    margin: 0;
    padding: 0 10% 0 10%;
    height: 0;
    background-color: transparent;
    border: none;
    border-top: solid 1px rgb(207, 207, 207);
}

/* Sidenav */

div.sidenav-icon {
    text-align: center;
    padding: 3rem;
    margin-top: 2rem;
}
div.sidenav-icon img {
    width: 60%;
}

/* Header */

section.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40rem;
    width: 100%;
    margin-bottom: 5rem;
}
div.header {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 5rem;
    align-items: center;
    justify-content: center;
}
h1.header-handy {
    font-size: 5rem;
    font-family: 'Ubuntu', sans-serif !important;
    color: rgb(70, 70, 70);
    letter-spacing: 2rem;
    font-weight: 300;
    margin-bottom: 5rem;
}
div.header-text {
    padding-right: 2rem;
    font-size: 1.3rem;
    color: var(--text-color-grey);
}

    /* Parallax */
    div.header-parallax-container {
        align-self: center;
        height: 80%;
        width: fit-content;
    }
    div.header-parallax {
        background-color: rgb(44, 42, 42);
    }
    img.header-parallax {
        image-rendering: optimizeQuality;
        filter: invert(1);
        width: 80rem;
    }
    img.header-parallax-mask {
        height: 100%;
    }

/* Intro */

section.intro {
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    height: 80vh;
    padding-top: 10vh;
    justify-items: center;
    width: 40%;
}

div.intro-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
}

/* Funcionamento */

section.func{
    flex-direction: column;
    width: 50%;
    font-size: 1.3rem;
    text-align: center;
    color: var(--text-color-grey);
    height: 100vh;
    align-content: center;
    margin-top: 2vw;
}

div.func-bg{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 2rem 0 2rem 0;
}

img.func-bg-img {
    width: 100%;
}

div.func-text{
    /* background-color: rgb(44, 42, 42); */
    padding: 2rem 0 2rem 0;
}

/* Aplicativo */

section.app {
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100vh;
    margin-top: 5vw;
}

div.app-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

img.app-img {
    height: 30rem;
    margin-right: 3rem;
}

div.app-content-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

a.btn-app {
    margin-top: 4rem;
}

/* Construção */

section.constr {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 64%;
    margin-top: 2vw;
}

div.constr-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    margin-top: 4rem;
}

img.constr-img {
    transform: rotate(90deg);
    height: 20rem;
}

a.btn-constr {
    margin-top: 1rem;
    margin-left: 1rem;
}